<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="skaf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="skaf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <skaf.Properties.Settings>
            <setting name="Nome" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="imagem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
        </skaf.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <skaf.Properties.Settings>
            <setting name="primeiroLogin" serializeAs="String">
                <value>True</value>
            </setting>
        </skaf.Properties.Settings>
    </applicationSettings>
</configuration>